*{
    margin: 0;
    padding: 0;
}
.navbar{
   display: flex;
   justify-content: center;
   justify-content: space-around;
   height: 100px;
   align-items: center;
}
.logo{
    background-color: #37353E;
    border-radius: 5px;
    height: 50px;
    
}
.logoContainer{
    width: 200px;
}
.banner{
    display: flex;
    width: 100%;
    background-color: #e4eeec ;
    font-size: 30px;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;  
  margin-left: 100px;
  margin-right: 100px;

}
button{
    padding: 10px;
      background-color: #000000;
      color: #fff;
      border-radius: 5px;
      border: none;
}
#canvas{
    width: 50%;
    background-color: #b3b3b8;
}
.txtbnnr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
ul{
    list-style: none;
    margin-bottom: 20px;

}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.elements{
    display: flex;
    width: 100vw;
    gap: 70px;
}
.elements img{
 width: 50%; 
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardsContainer{
    display: flex;
    width: 100vh;
    padding: 20px;
    gap:50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
}
.card img{
    height: 200px;
}
.cards{
    margin-top: 100px;
    background-color:#6f6c7a;
    width: 100%;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.abtUs{
        margin-top: 100px;

}
section{
    border-radius: 5px;

}
.dawg{
    height: 500px;
}
.btn{
    margin: 10px;
}
.footer{
        margin-top: 50px;
        background-color:#c5c5d4;
}
.footercnt{
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}
.logonshi{
    display: flex;
    flex-direction: column;
}
.logonshi img{
    height: 100px;
}
.header{
    margin-bottom: 50px;
}
.cards1{
display: flex;
background-color:#9b8f8f ;
width: 100%;
justify-content: space-around;
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3DAD9;
    max-width: 300px;
    border-radius: 5px;

}